#main-content header h1 {
  color: rgba(var(--color-primary-600));
}

.prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  color: rgba(var(--color-primary-400));
}

.discuss-icon {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.discuss-icon svg {
  height: 1.25em;
  width: 1.25em;
}
